@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-yellow-primary: #DEE33E;
  --color-yellow-bold: #9FA324;
  /* Added the yellow-primary color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-yellow-primary: var(--color-yellow-primary);
  --color-yellow-bold: var(--color-yellow-bold);
  /* Set the yellow-primary color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}